*.pyc
__pycache__/
.env
*.env
*.log
*.sqlite3
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.coverage
.cache/
.mypy_cache/
.pytest_cache/
*.orig
*.npy
*.json
wandb/
#checkpoints/
